<footer id="" class="border-1">
    <selection id="" class="height-100">
        <fieldset id="" class="guzman">
            <a class="" href="/">
                Edgar Guzman
                <!-- <span>Edgar</span>
                <span>Guzman</span> -->
            </a>
        </fieldset>

        <!-- <nav id="" class="">
            <ul class="">
                <li class="">
                    <a class="" href=""></a>
                </li>
            </ul>
        </nav> -->
    </selection>
</footer>
