<header id="" class="border-1">
    <selection id="" class="height-100 flex flex-center flex-between">
        <fieldset id="" class="height-100">
            <a class="guzman" href="/">
                Edgar Guzman
                <!-- <span>Edgar</span>
                <span>Guzman</span> -->
            </a>
        </fieldset>

        <nav id="" class="">
            <ul class="">
                <li class="">
                    <a class="" href="">Hello</a>
                </li>
            </ul>
        </nav>
    </selection>
</header>
