<header id="" class="">
    <selection id="" class="">
        <fieldset id="" class="">
            <a href="" class="">
                <span></span>
                <span></span
            ></a>
        </fieldset>

        <!-- <nav id="" class="">
            <ul class="">
                <li class="">
                    <a class="" href=""></a>
                </li>
            </ul>
        </nav> -->
    </selection>
</header>
