<header id="" class="border-1">
    <selection id="" class="height-100 flex align-center">
        <fieldset class="">
            <a class="guzman" href="/">
                Edgar Guzman
                <!-- <span>Edgar</span>
                <span>Guzman</span> -->
            </a>
        </fieldset>
    </selection>
</header>
