<%- include('./layouts/head') %> <%- include('./partials/header') %>

<main id="" class="border-1">
    <selection id="" class="">
        <fieldset id="" class="">
            <h1 class="">Hello EJS</h1>
        </fieldset>
    </selection>
</main>

<%- include('./partials/footer') %> <%- include('./layouts/foot') %>
