:root {
    --black: #000000;
    --yellow: #ffff00;
    --white: #ffffff;
    --inherit: inherit;

    --color: var(--white);
    --border: var(--inherit);
    --background: var(--black);
}

*,
*::before,
*::after {
    border: 0;
    outline: 0;
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;

    color: inherit;
    border-color: inherit;
    background-color: inherit;
}

html {
    font-size: 100%;
}

body {
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
}

img,
svg,
picture,
canvas,
video {
    display: block;
}

hr,
input,
textarea,
button {
    border: 0.0625rem solid;
}

abbr {
    border: 0.0625rem dotted;
}

br {
    content: ' ';
}

a {
    cursor: default;
    color: var(--yellow);
    text-decoration-line: none;
    text-decoration-color: var(--yellow);
}

a:hover {
    cursor: pointer;
    color: var(--yellow);
    text-decoration-line: underline;
    text-decoration-color: var(--yellow);
}

q {
    quotes: '‘' '’';
}

q::before {
    content: open-quote;
}

q::after {
    content: close-quote;
}

/* Customization */

#modular,
.modular {
    color: var(--color);
    background-color: var(--background);
}

#h-100,
.height-100 {
    height: 100%;
}

#flex,
.flex {
    display: flex;
}

#flex-center,
.flex-center {
    align-items: center;
    /* justify-content: center; */
}

#flex-between,
.flex-between {
    justify-content: space-between;
}

#guzman,
.guzman {
    height: 100%;
    cursor: default;
    color: var(--white);
    text-decoration-line: none;

    display: flex;
    align-items: center;
    /* justify-content: center; */
}

#guzman:hover,
.guzman:hover {
    cursor: pointer;
    text-decoration-line: none;
    text-decoration-color: var(--white);
}

#gap,
.gap {
    gap: 0 0;
}

#grid,
.grid {
    gap: 0 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3.125rem 1fr 3.125rem;
}

#grid-cols,
.grid-cols {
    grid-template-columns: 1fr;
}

#grid-rows,
.grid-rows {
    grid-template-rows: 3.125rem 1fr 3.125rem;
}

#grid-layouts,
.grid-layouts {
    padding: 0 3.125rem;

    /* height: 100%; */
    gap: 0 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3.125rem 100vh 3.125rem;
    /* place-items: stretch stretch; */
    /* align-items: center; */
    /* justify-content: center; */
}

#border-1,
.border-1 {
    border: 0.0625rem solid;
    /* outline: 0.0625rem solid; */

    /* align-items: center; */
    justify-content: center;
}
