<%- include('../layouts/head') %>

<main id="" class="">
    <selection id="" class="">
        <fieldset id="" class="">
            <h1 class="">About EJS</h1>
        </fieldset>
    </selection>
</main>

<%- include('../layouts/foot') %>
