<%- include('../layouts/head') %> <%- include('../partials/header') %>

<main id="" class="border-1">
    <selection id="" class="">
        <fieldset class="">
            <h1 class="">About Edgar Guzman</h1>
			<!-- <a class="alink" href="">hadisidohspdhiohiou</a> -->
			<p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi laboriosam nostrum magnam saepe! Velit veritatis error nulla dolorum recusandae? Iusto illum natus veritatis voluptatum odio aut iure tenetur voluptatem nesciunt?
			Iste <a class="alink" href="">reprehenderit eaque ducimus</a> iure quaerat facere laborum, dolores eos ea blanditiis dolor exercitationem ipsum mollitia hic repudiandae facilis assumenda modi perspiciatis optio sequi! Debitis quaerat similique delectus corrupti vel!
			Laborum earum quibusdam nihil? Veritatis explicabo ea nostrum ratione, consequatur blanditiis odio aperiam. Quis omnis quas neque tenetur dolorem vero corporis possimus quasi placeat, ex voluptatem doloribus magni porro totam.
			Vitae animi quo debitis laudantium cupiditate eius in nisi voluptatem tenetur velit! Velit fugiat ipsum minima officiis earum voluptate nisi totam natus voluptatum? Quisquam perspiciatis, at nobis ipsam exercitationem tempora.</p>
        </fieldset>
    </selection>
</main>

<%- include('../partials/footer') %> <%- include('../layouts/foot') %>
